  *{
    box-sizing: border-box;
  }

  body {
    padding: 0;
    margin: 0;
  }

  .calc {
    width: 500px;
    background-color: burlywood;
    color:black;
  }

  .screen {
    color: whitesmoke;
    font-size: 60px;
    font-family: papyrus,"Courier New", Courier, monospace;
    text-align: right;
    padding: 20px 10px;
  }

  .calc-button {
    background-color: grey;
    color: whitesmoke;
    height: 95px;
    width: 23.6%;
    border: 2px;
    margin: 2px;
    border-radius: 10px;
    font-size: 60px;
    font-family: papyrus;
    cursor: pointer;
  }

  .calc-button:last-child {
    background-color: #c1813e;
    color: white;
  }

  .calc-button:hover {
    background-color: #aeaeae;
  }

  .calc-button:last-child:hover {
    background-color: #d29f4c;
  }

  .calc-button:active {
    background-color: #bbbcbe;
  }

  .double {
    width: 48.4%;
  }
  
  .triple {
    width: 73.5%;
  }

  .calc-button-row {
    display: flex; 
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
  }

  .calc-button-row:last-child {
    padding-bottom: 0;
  }


